doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(name='keywords' content='​Learn to Cook French Classics, Online Cooking Classes, ​Сooking Сlasses, ​A simple &amp; delicious traditional cooking, Why Us')
  meta(name='description' content='')
  title Wallsweep
  link(rel='stylesheet' href='nicepage.css' media='screen')
  link(rel='stylesheet' href='Wallsweep.css' media='screen')
  script.u-script(type='text/javascript' src='jquery.js' defer='')
  script.u-script(type='text/javascript' src='nicepage.js' defer='')
  meta(name='generator' content='Nicepage 4.21.12, nicepage.com')
  link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "logo": "images/WallSweep.png"
    }
  meta(name='theme-color' content='#478ac9')
  meta(property='og:title' content='Wallsweep')
  meta(property='og:type' content='website')
header#sec-73d4.u-clearfix.u-header.u-header
  .u-clearfix.u-sheet.u-sheet-1
    a.u-align-right.u-image.u-logo.u-image-1(href='/' data-image-width='500' data-image-height='500' title='Wallsweep')
      img.u-logo-image.u-logo-image-1(src='images/WallSweep.png')
    nav.u-align-left.u-font-size-14.u-menu.u-menu-hamburger.u-nav-spacing-25.u-offcanvas.u-menu-1(data-responsive-from='XL')
      .menu-collapse
        a.u-button-style.u-nav-link(href='#' style='padding: 18px 30px; font-size: calc(1em + 36px);')
          svg.u-svg-link(preserveaspectratio='xMidYMin slice' viewbox='0 0 302 302' style='')
            use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#svg-7b92')
          svg#svg-7b92.u-svg-content(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewbox='0 0 302 302' style='enable-background:new 0 0 302 302;' xml:space='preserve')
            g
              rect(y='36' width='302' height='30')
              rect(y='236' width='302' height='30')
              rect(y='136' width='302' height='30')
      .u-custom-menu.u-nav-container
        ul.u-nav.u-unstyled.u-nav-1
          li.u-nav-item
            a.u-button-style.u-nav-link(href='Wallsweep.html#sec-d388' style='padding-right: 4px;') Home
          li.u-nav-item
            a.u-button-style.u-nav-link(href='Wallsweep.html#carousel_15ea' style='padding-right: 4px;') About
          li.u-nav-item
            a.u-button-style.u-nav-link(href='Wallsweep.html#carousel_8e8e' style='padding-right: 4px;') Our Team
      .u-custom-menu.u-nav-container-collapse
        .u-align-center.u-container-style.u-grey-30.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav
          .u-inner-container-layout.u-sidenav-overflow
            .u-menu-close
            ul.u-align-center.u-nav.u-popupmenu-items.u-spacing-39.u-text-custom-color-1.u-unstyled.u-nav-2
              li.u-nav-item
                a.u-button-style.u-nav-link(href='Wallsweep.html#sec-d388') Home
              li.u-nav-item
                a.u-button-style.u-nav-link(href='Wallsweep.html#carousel_15ea') About
              li.u-nav-item
                a.u-button-style.u-nav-link(href='Wallsweep.html#carousel_8e8e') Our Team
        .u-black.u-menu-overlay.u-opacity.u-opacity-70
section#sec-d388.u-clearfix.u-image.u-section-1(data-image-width='1920' data-image-height='1080')
  .u-clearfix.u-expanded-width.u-gutter-0.u-layout-wrap.u-layout-wrap-1
    .u-gutter-0.u-layout
      .u-layout-col
        .u-align-left.u-container-style.u-layout-cell.u-size-30.u-layout-cell-1
          .u-container-layout.u-container-layout-1
            img.u-align-center.u-image.u-image-contain.u-image-default.u-preserve-proportions.u-image-1(src='images/WSLogoShadow.png' alt='' data-image-width='500' data-image-height='500')
        .u-container-style.u-layout-cell.u-size-30.u-layout-cell-2
          .u-container-layout.u-valign-top.u-container-layout-2
            a.u-active-white.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-custom-color-4.u-hover-white.u-radius-50.u-text-active-black.u-text-body-alt-color.u-text-hover-palette-1-dark-3.u-btn-1(href='search' data-animation-name='customAnimationIn' data-animation-duration='1500' data-animation-delay='500') SEARCH
section#carousel_15ea.u-clearfix.u-white.u-section-2
  .u-custom-color-4.u-expanded-width.u-shape.u-shape-rectangle.u-shape-1
  .u-clearfix.u-gutter-0.u-layout-wrap.u-layout-wrap-1
    .u-gutter-0.u-layout
      .u-layout-row
        .u-container-style.u-layout-cell.u-palette-1-dark-1.u-shape-rectangle.u-size-27-lg.u-size-27-xl.u-size-30-md.u-size-30-sm.u-size-30-xs.u-layout-cell-1(data-animation-name='customAnimationIn' data-animation-duration='1500' data-animation-delay='500')
          .u-container-layout.u-container-layout-1
            h1.u-custom-font.u-text.u-text-font.u-text-1 About
            h3.u-text.u-text-font.u-text-2
              | Wallsweep is a&nbsp;Wallsweep is a&nbsp;Wallsweep is a&nbsp;Wallsweep is a&nbsp;Wallsweep is a&nbsp;Wallsweep is aWallsweep is aWallsweep is a&nbsp;Wallsweep is.
              br
        .u-align-left.u-container-style.u-layout-cell.u-shape-rectangle.u-size-3-lg.u-size-3-xl.u-size-30-md.u-size-30-sm.u-size-30-xs.u-layout-cell-2(data-animation-name='customAnimationIn' data-animation-duration='1500' data-animation-delay='500')
          .u-container-layout.u-valign-top.u-container-layout-2
        .u-container-style.u-image.u-layout-cell.u-size-30-lg.u-size-30-xl.u-size-60-md.u-size-60-sm.u-size-60-xs.u-image-1(data-animation-name='customAnimationIn' data-animation-duration='1500' data-animation-delay='500' data-image-width='1600' data-image-height='900')
          .u-container-layout.u-container-layout-3
section#carousel_8e8e.u-align-center.u-clearfix.u-white.u-section-3
  .u-clearfix.u-sheet.u-sheet-1
    h2.u-align-center.u-custom-font.u-text.u-text-custom-color-4.u-text-font.u-text-1 Our Team
    .u-align-center.u-list.u-list-1
      .u-repeater.u-repeater-1
        .u-align-center.u-container-align-center.u-container-style.u-custom-item.u-list-item.u-palette-1-light-2.u-radius-50.u-repeater-item.u-shape-round.u-list-item-1(data-animation-name='customAnimationIn' data-animation-duration='1750' data-animation-delay='0')
          .u-container-layout.u-similar-container.u-container-layout-1
            img.u-expanded-width.u-image.u-image-round.u-preserve-proportions.u-radius-10.u-image-1(src='images/austin.JPG' alt='' data-image-width='500' data-image-height='500')
            h4.u-custom-font.u-text.u-text-black.u-text-font.u-text-2 Austin Hart
        .u-align-center.u-container-align-center.u-container-style.u-custom-item.u-list-item.u-palette-1-light-1.u-radius-50.u-repeater-item.u-shape-round.u-list-item-2(data-animation-name='customAnimationIn' data-animation-duration='1750' data-animation-delay='0')
          .u-container-layout.u-similar-container.u-container-layout-2
            img.u-expanded-width.u-image.u-image-round.u-preserve-proportions.u-radius-10.u-image-2(src='images/alex.JPG' alt='' data-image-width='918' data-image-height='935')
            h4.u-custom-font.u-text.u-text-black.u-text-font.u-text-3 Alex Petkova
        .u-align-center.u-container-align-center.u-container-style.u-custom-item.u-list-item.u-palette-1-light-2.u-radius-50.u-repeater-item.u-shape-round.u-list-item-3(data-animation-name='customAnimationIn' data-animation-duration='1750' data-animation-delay='0')
          .u-container-layout.u-similar-container.u-container-layout-3
            img.u-expanded-width.u-image.u-image-round.u-preserve-proportions.u-radius-10.u-image-3(src='images/v.JPG' alt='' data-image-width='500' data-image-height='500')
            h4.u-custom-font.u-text.u-text-black.u-text-font.u-text-4
              | Vishnu
              br
              | Avinash Nair
        .u-align-center.u-container-align-center.u-container-style.u-custom-item.u-list-item.u-palette-1-light-1.u-radius-50.u-repeater-item.u-shape-round.u-list-item-4(data-animation-name='customAnimationIn' data-animation-duration='1750' data-animation-delay='0')
          .u-container-layout.u-similar-container.u-container-layout-4
            img.u-expanded-width.u-image.u-image-round.u-preserve-proportions.u-radius-10.u-image-4(src='images/r.PNG' alt='' data-image-width='500' data-image-height='500')
            h4.u-custom-font.u-text.u-text-black.u-text-font.u-text-5 Rachel Perry
footer#sec-c983.u-align-center.u-clearfix.u-custom-color-1.u-footer.u-footer
  .u-clearfix.u-sheet.u-sheet-1
